body {
	background: #212121;
	color: aliceblue;
	font-size: 2vmin;
	padding-top: 65px;
}

/*Title/Landing Page*/
h1 {
	font-family: 'Oswald', sans-serif;
	line-height: 1.em;
	font-size: 5em;
	letter-spacing: 0.25em;
	text-transform: uppercase;
}

/*Section Headers*/
h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 4em;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

/*Subsection Headers*/
h3 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	line-height: 2em;
	font-size: 3em;
	text-transform: uppercase;
	margin: 1.5em 0 0.75em 0;
}

/*Resume Class Header*/
h4 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 1.5em;
	text-transform: uppercase;
}

/*Unused*/
h5 {
	font-family: 'Droid Serif', sans-serif;
	font-weight: 700;
	line-height: 2em;;
	font-size: 16px;
	text-transform: uppercase;
	margin: 0 0 23px 0;
}

/*Project Headers*/
h6 {
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	font-size: 4em;
	opacity: 0;
}

p {
	font-family: 'Droid Serif', serif;
	font-size: 2vmin;
}

a:hover,
a:visited,
a:link,
a:active {
	color: aliceblue;
	text-decoration: none;
}

.navbar {
	font-family: 'Oswald', san-serif;
	font-size: medium;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.section {
	padding-bottom: 70vh;
}


#title-small {
	letter-spacing: 0px;
	margin-left: -1em;
}

#headshot {
	width: 33vmin;
	border: 2px solid aliceblue;
	margin: 0 auto;
}

.project {
	width: 95vw;
	height: 20vh;
	margin: 1vh 1vw 1vh 1vw;
	border: 2px solid aliceblue;
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: cover;
	background-blend-mode: luminosity;
}
#project1 {
	background-image: url('http://lorempixel.com/1600/400/city');
}
#project2 {
	background-image: url('http://lorempixel.com/1600/400/animals');
}

.language {
	align-content: center;
	height: 10vw;
}
